* {
  padding: 0;
  margin: 0;
}

/* body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
} */

.page_container {
  height: 100vh;
  overflow: hidden;
}

.pageFrame {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  transition: all 1s;
}

.page {
  height: 100vh;
  padding: 2%;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.img {
  float: left;
  width: 300px;
  height: 400px;
  margin-right: 20px;
}

.page1 {
  background-color: rgb(255, 88, 88);
}

.img1 {
  background: url(./image/1.jpg);
  background-size: cover;
}

.page2 {
  background-color: orange
}

.img2 {
  background-image: url(./image/2.jpg);
  background-size: cover;
}

.page3 {
  background-color: yellow;
}

.img3 {
  background-image: url(./image/3.jpg);
  background-size: cover;
}

.page4 {
  background-color: aquamarine;
}

.img4 {
  background-image: url(./image/5.jpg);
  background-size: cover;
}

.page p {
  font-size: 30px;
  font-style: italic;
  letter-spacing: 5px;
  word-break: break-all;
  color: blue;
  text-shadow: 5px 3px 2px rgb(0 0 0 / 0.5);
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
}

.btn:hover {
  cursor: pointer;
}

.downBtn {
  background: url(./image/top.png) no-repeat center/cover;
  right: 2%;
  bottom: 30%;
}

.upBtn {
  background: url(./image/bottom.png) no-repeat center/cover;
  right: 2%;
  bottom: 20%;
}