* {
  padding: 0;
  margin: 0 auto;
}

body, header {
  background-color: yellowgreen;
}

/* =================== 헤더 ==================== */
header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  position: fixed;
  top: 0;
  /* left: 50%;
  transform: translateX(-50%); */

}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2px;
}


.menu li a {
  width: 100px;
  display: block;
  background-color: green;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  color: white;
}

.contents div {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 305px;
  background-color: skyblue;
  padding: 10px;
  display: none;
}

.contents div:target {
  display: block;
}

/* =============== main ================== */
main {
  margin-top: 250px;
}

main p {
  background-color: bisque;
  margin: 5px;
  padding: 10px;
}